.pageContainer {
  display: flex;
  flex-direction: column;
  background: #e9edf5;
}

.pageHeader {
  height: 72px;
  padding: 10px;
  background: white;
  padding: 10px 30px 10px 30px;
}
.pageHeader h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  height: 100%;
  margin: 0px;
  vertical-align: middle;
}

.pageContent {
  margin: 30px;
  background: white;
  border-radius: 5px;
  padding: 5px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.tableHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #7b889a;
  width: 10%;
  height: 72px;
  border-top: none !important;
  vertical-align: middle !important;
}

.tableNarrowColumn {
  width: 4.5%;
}

.tableBroadColumn {
  width: 10%;
}

.tableFilterContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
