.events {
    .banner {
        height: 100px;
        background-color: #415C83;

        .center {
            text-align: center;
        }

        h2 {
            text-align: center;
            color: #ffffff;
        }
    }

    .past_events {
        margin-top: 50px;
    }

    .horizontal-rule {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .horizontal-rule hr {
        flex: 1;
        border: none;
        border-top: 2px solid #FB7D74;
        /* Customize the line style here */
    }

    .centered-text {
        padding: 0 10px;
        color: #28536B;
        /* Adjust spacing as needed */
    }

    .past_title {
        margin-top: 50px;
        margin-bottom: 50px;
    }

}