.events .banner {
  height: 100px;
  background-color: #415c83;
}
.events .banner .center {
  text-align: center;
}
.events .banner h2 {
  text-align: center;
  color: #ffffff;
}
.events .horizontal-rule {
  display: flex;
  align-items: center;
  text-align: center;
}
.events .horizontal-rule hr {
  flex: 1;
  border: none;
  border-top: 2px solid #fb7d74;
  /* Customize the line style here */
}
.events .centered-text {
  padding: 0 10px;
  color: #2c5797;
  font-style: normal;
  font-weight: 800;
  font-size: medium;
  /* Adjust spacing as needed */
}
.events .past_title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.events .ongoing_title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.events .upcoming_title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.events .event-message {
  text-align: center;
  color: #2c5797;
  font-style: normal;
  font-weight: 500;
  font-size: medium;
}
