.LEADERSHIP h5 {
  text-align: center;
  color: #2c5797;
}
.LEADERSHIP p {
  text-align: center;
  color: #2c5797;
}
.LEADERSHIP .leadership-card {
  border: 1px solid #2c5797;
  min-height: 340px;
}
.LEADERSHIP .leadership {
  border-color: #ff3c00;
  width: 2rem;
  margin-top: 0px;
}

.LEADERSHIP .know-more-button {
  margin-top: 2rem;
  border-radius: 8px !important;
  color: white !important;
  font-weight: 500 !important;
  border: 1px solid #ff4020 !important;
  background-color: #ff4020 !important;
}
.LEADERSHIP .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.leadership-image {
  width: 70%; 
  margin-inline: auto; 
  margin-block-start: 1.5rem; 
  
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}