@import "../../../../utils/variables.scss";

.LEADERSHIP{
    h5{
        text-align: center;
        color: #2c5797;
    }
    p{
        text-align: center;
        color: #2c5797;
    }
    .leadership-card{
        border: 1px solid #2c5797;
    }
    .leadership {
        border-color: $vividred;
        width: 2rem;
        margin-top: 0px;
      }
}