@import "../../../../utils/variables.scss";
.MINIABOUTUS{

.aboutUsHeading {
    text-align: center;
}
.text-decor {
    text-decoration: none !important;
}
.about-us {
    width: 4rem;
    border-color: $vividred;
}

@media only screen and (max-width: 767px) {
    .aboutUsImage {
        height: 300px;
    }

    .knowMoreBox {
        text-align: center;
    }

    .knowMore {
        display: inline-block;
    }
}
blockquote {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
    font-size: $largeTitle;
}
blockquote:before {
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    color: #ff4020;
    content: "\201C";
}
blockquote:after {
    position: absolute;
    float:right;
    font-size:6em;
    line-height: 0.75;
    right:0;
    bottom:-0.5em;
    color: #ff4020;
    content: "\201D";
}
}