.events_modal {
    img {
        height: 60%;
        width: 70%
    }

    .date {
        font-size: 20px;
    }

    .e_title {
        color: #415C83;
        font-weight: 500;
    }

    a {
        word-wrap: break-word;
        padding: 5px;
        margin: 5px;
        text-decoration: underline;
        color: #007bff;
    }

    .horizontal-rule {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .horizontal-rule hr {
        flex: 1;
        border: none;
        border-top: 2px solid #FB7D74;
        /* Customize the line style here */
    }

}



@media (min-width: 300px) and (max-width: 991px) {
    .events_modal {
        img {
            height: 300px;
        }
    }
}