.BANNER .top-banner {
  padding-top: 6em;
  margin-top: -6em;
  padding-left: 0%;
  padding-right: 0%;
}
.BANNER .top-banner img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: aliceblue;
}
