@import "../../utils/variables.scss";


.login-button, .post-questions-button{
  border-radius: 8px;
  color: $white;
  font-weight: $lightBold;
}

.donate-button {
  border: 1px solid $red;
  border-radius: 8px;
  color: $red;
  background-color: $white;
  font-weight: $lightBold;
}

.login-button {
  border: 1px solid $red;
  background-color: $red;
}

.post-questions-button{
  border: 1px solid $darkBlue;
  background-color: $darkBlue;
}

.navbar-brand img {
  height: 80px;
  /* put value of image height as your need */
  float: left;
}

.navbarhover {
  font-style: normal;
  font-weight: $lightBold;
  line-height: 19px;
}

.navbarhover:hover {
  cursor: pointer;
}

.jjclink:hover,
.jjclink:active,
.jjclink:link,
.jjclink:visited {
  color: $black;
  text-decoration: none;
}
.jjclink {
  padding-left: 1rem !important;
}

.user-profile-dropdown-icon{
  cursor: pointer;
}

.user-profile-dropdown-content > div{
  font-size: medium;
  cursor: pointer;
}

.user-profile-dropdown-content > div > a{
  color: black;
}

.user-profile-dropdown-content > div:hover{
  text-decoration: underline;
}
