.PRIVACYPOLICY {
  .privacyPolicy-container {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
  }
  .privacyPolicy-text {
    margin-top: 2%;
  }
  h4 {
    text-decoration: underline;
    color: #2c5797;
  }
  h5 {
    color: #2c5797;
  }
  .email-text-color {
    color: #2c5797;
  }
  .privacy-date {
    font-style: italic;
  }
}
