@import '../../utils/variables.scss';


.pendingUserStatusContainer {
    background: rgba(255, 64, 32, 0.1);
    border-radius: 5px;
    padding: 25px;
    color: #ffffff;

    span {
        font-style: normal;
        font-weight: $lightBold;
        font-size: $largeTitle;
        line-height: 22px;
        color: $red;
    }

    :nth-child(1) {
        background-color: $red;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }

    :nth-child(2) {
        margin-right: 10px;
    }

    .count {
        color: #ffffff;
    }
}

.approvedUserStatusContainer {
    background: rgba(76, 181, 118, 0.1);
    border-radius: 5px;
    padding: 25px;

    span {
        font-style: normal;
        font-weight: $lightBold;
        font-size: $largeTitle;
        line-height: 22px;
        color: $green;
    }

    :nth-child(1) {
        background-color: $green;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }

    :nth-child(2) {
        margin-right: 10px;
    }

    .count {
        color: #ffffff;
    }
}