@import '../../utils/variables.scss';

.count-card {
  width: 250px;
  height: 130px;
  padding: 20px;
}

.pendingUserStatusContainer {
  background: rgba(238, 114, 20, 0.75);
  border-radius: 5px;
  padding: 25px;

  .card-text {
    font-style: normal;
    font-weight: $lightBold;
    font-size: $largeTitle;
    line-height: 22px;
    color: rgba(238, 114, 20, 1);
  }

  :nth-child(2) {
    margin-right: 10px;
  }
}

.newUserStatusContainer {
  background: rgba(161, 238, 189, 0.8);
  border-radius: 5px;
  padding: 25px;

  :nth-child(2) {
    margin-right: 10px;
  }
}

.activeStatusContainer {
  background: rgba(101, 183, 65, 0.4);
  border-radius: 5px;
  padding: 25px;
  color: black;

  :nth-child(2) {
    margin-right: 10px;
  }
}

.totalStatusContainer {
  background: rgba(12, 53, 106, 0.6);
  border-radius: 5px;
  padding: 25px;

  :nth-child(2) {
    margin-right: 10px;
  }
}

.rejectedStatusContainer {
  background: rgba(184, 0, 0, 0.5);
  border-radius: 5px;
  padding: 25px;

  :nth-child(2) {
    margin-right: 10px;
  }
}
