.download-container {
  float: right;
  margin-left: auto;
}

.download-button {
  padding: 8px 16px; /* Adjust the padding as needed */
  background-color: #1e2350; /* Example button color, change as needed */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
