@import '../../utils/variables.scss';

.name-container {
    font-style: normal;
    font-weight: $bold;
    font-size: $largeTitle;
}

.Btn-reject {
    background-color: rgba(255,64,32, 0.8)!important;
    width:100%;
  }
  
  .Btn-accept {
    background-color: $green!important;
    margin-right: 10px;
    width:100%;
}

.Btn-submit {
    background-color: $darkBlue;
    margin-top:10px;
    width:100%;
    color: $white;
}

.info-container {
    width:100%;
    background-color: $whiteSmoke;
}

.divOutside {
    border-bottom:1px rgba(0,0,0,0.1) solid;
}

.last {
    border-bottom:0px;
}

.center-align {
    text-align: center;
}

.remove-left-padding {
    padding-left:0px;
}

.info-container-headers {
    margin-left:2px;
    color: $charcoalBlack;
    text-align: center;
    font-weight: $semiBold;
    font-size: $titleSize;
}

.info-container-info {
    margin-left:5px;
    color: $charcoalBlack;
    font-weight: $lightBold;
    font-size: $titleSize;
}
