@import "../../../../utils/variables.scss";

.mission-color {
  background: linear-gradient(180deg, #2c5797 0%, #0f2d58 100%);
  padding-top: 6em;
  margin-top: -6em;
}
.mission-card {
  border-radius: 8px;
  transition: transform .5s;
  height: 220px !important;
}

.mission-card:hover{
  transform: scale(1.15);
  transition: transform .5s;
}

.card_images {
  width: 100%;
  height: 7vw;
  object-fit: contain;
}

.join-button {
  color: $white !important;
  background-color: $vividred !important;
  border-radius: 8px !important;
  &:hover {
    background-color: $white !important;
    color: $black !important;
  }
}
.headtext {
  font-size: $largeTitle;
  color: white;
  font-weight: $semiBold;
  font-style: normal;
  text-align: left;
  padding-top: 96px;
}
.mission-text {
  font-size: 12px;
  font-weight: $semiBold;
  font-style: normal;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  #leftpad {
    padding-left: 89px;
  }
}

@media only screen and (min-width: 356px) and (max-width: 600px){
  .card_images {
    display: block !important;
    width: 100% !important;
    height: 29vw !important;
  }

  .mission-card {
    max-height: 350px !important;
  }
}
