@import "../../utils/variables.scss";

.RESET-PASSWORD{
  .reset-password-message-container{
    height: 600px;
    width: 1520px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: linear-gradient(180deg, #0F2D58 0%, #2C5797 55.91%);
    position: relative;
  }

  .message-header-content{
    height: 38px;
    width: 500px;
    left: 530px;
    top: 130px;
    border-radius: 'nullpx';
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    position: absolute;
    color: #FFFFFF;
  }

  .message-header-content-1{
    height: 33px;
    width: 260px;
    left: 660px;
    top: 80px;
    border-radius: nullpx;
    font-family: 'Noto Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    font-style: normal;
    /* identical to box height */
    color: #FFFFFF;
  }

  .outside-box{
    height: 326px;
    width: 540px;
    left: 515px;
    top: 190px;
    border-radius: 8px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044); 
    border: 1x solid #FF3E06;
  }

  .new-password{
    height: 67px;
    width: 460px;
    left: 490px;
    top: 279px;
    border-radius: 8px;
    position: absolute;
  }
  
  .label{
    height: 20px;
    width: 334px;
    left: -460px;
    top: -240px;
    border-radius: nullpx;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 1;
    color: #000000;
  }

  .inlinebox{
    height: 48px;
    width: 480px;
    left: 0px;
    top: 30px;
    border-radius: 10px;
    // border-color: #0b0b0bd6;
    background: #f6f6f6;
    position: absolute;
  }

  .confirm-password{
    height: 67px;
    width: 460px;
    left: 490px;
    top: 279px;
    border-radius: 8px;
    position: absolute;
  }

  .label-1{
    height: 20px;
    width: 334px;
    left: -460px;
    top: -150px;
    border-radius: nullpx;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 1;
    color: #000000;
  }

  .inlinebox-1{
    height: 48px;
    width: 480px;
    left: 0px;
    top: 30px;
    border-radius: 10px;
    // border-color: #0b0b0bd6;
    background: #f6f6f6;
    position: absolute;
  }

  .button-box{
    height: 48px;
    width: 480px;
    left: 30px;
    top: 230px;
    border-radius: 8px;
    border: 1px solid #FF3E06;
    position: absolute;
    background: #FF3E06;
  }

  .submit-button{
    height: 48px;
    width: 480px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    position: absolute;
    font-style: normal;
    /* identical to box height, or 143% */
    color: #FFFFFF;
  }


}