@import "../../utils/variables.scss";

.row-RESET-PASSWORD{
  .reset-password-message-container{
    height: 600px;
    border-radius: 0px;
    background: whitesmoke;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-RESET-PASSWORD {
    padding: 0%;
  }

  .message-header-content{
    height: 38px;
    width: auto;
    left: auto;
    top: 60px;
    border-radius: nullpx;
    font-family: Noto Sans;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    /* identical to box height */
    color: black;
  }

  .message-header-content-1{
    height: 33px;
    width: auto;
    left: auto;
    top: -40px;
    border-radius: nullpx;
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    font-style: normal;
    /* identical to box height */
    color: black;
  }

  .outside-box{
    // height: 400px;
    // width: 540px;
    // left: 515px;
    // top: 150px;
    // border-radius: 8px;
    // position: absolute;
    // background: #FFFFFF;
    // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044); 
    // border: 1x solid #FF3E06;
    height: 400px;
    left: auto;
    top: 20px;
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background: #ffffff;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
  }


  .temporary-password{
    height: 67px;
    width: auto;
    left: auto;
    top: 250px;
    border-radius: 8px;
    position: relative;
  }
  .label2{
    height: 20px;
    width: auto;
    left: auto;
    top: -260px;
    border-radius: nullpx;
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 1;
    color: black;
  }

  .inlinebox-3{
    height: 48px;
    width: 100%;
    left: auto;
    top: auto;
    max-width: 540px;
    border-radius: 10px;
    // borders-color: #0b0b0bd6;
    background: #f6f6f6;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
  }


  .new-password{
    height: 67px;
    width: auto;
    left: auto;
    top: 180px;
    border-radius: 8px;
    position: relative;
  }
  .label{
    height: 20px;
    width: auto;
    left: auto;
    top: -160px;
    border-radius: nullpx;
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 1;
    color: black;
  }

  .inlinebox{
    height: 48px;
    width: 100%;
    left: auto;
    top: auto;
    max-width: 540px;
    border-radius: 10px;
    // borders-color: #0b0b0bd6;
    background: #f6f6f6;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
  }

  .confirm-password{
    height: 67px;
    width: auto;
    left: auto;
    top: 130px;
    border-radius: 8px;
    position: relative;
  }

  .label1{
    height: 20px;
    width: auto;
    left: auto;
    top: -60px;
    border-radius: nullpx;
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    mix-blend-mode: normal;
    opacity: 1;
    color: black;
  }


  .inlinebox-1{
    height: 48px;
    width: 100%;
    left: auto;
    top: auto;
    max-width: 540px;
    border-radius: 10px;
    // borders-color: #0b0b0bd6;
    background: #f6f6f6;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
  }

  .button-box{
    top: 110px;
    left: auto;
   // top: auto;
    height: 48px;
    width: auto;
    max-width: 540px;
    border-radius: 10px;
    background-color: #ff3c00;
    border: 1px solid black;
    position: relative;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.147044);
    box-sizing: border-box;
  }

  .submit-button{
    left: auto;
    top: auto;
    height: 48px;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    font-style: normal;
    font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-color: #ff3c00;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.147044);
    box-sizing: border-box;
  }



    // Media queries for responsiveness
    @media (max-width: 768px) {

      .reset-password-message-container {
        padding: 10px;
      }

      .outside-box {
        max-width: 100%;
      }

      .inlinebox {
        max-width: 100%;
      }
      .inlinebox-1 {
        max-width: 100%;
      }
      .inlinebox-3 {
        max-width: 100%;
      }

      .button-box {
        max-width: 100%;
        top: 100px;
      }

      .submit-button {
        max-width: 100%;
      }
    }
  
    @media (max-width: 575px) {

      .reset-password-message-container {
        padding: 10px;
      }

      .outside-box {
        width: 100%;
        max-width: 100%;
      }

      .inlinebox {
        width: 100%;
        max-width: 100%;
      }
      .inlinebox-1 {
        width: 100%;
        max-width: 100%;
      }
      .inlinebox-3 {
        width: 100%;
        max-width: 100%;
      }

      .button-box {
        width: 100%;
        max-width: 100%;
        top: 100px;
      }

      .submit-button {
        width: 100%;
        max-width: 100%;
      }
    }


}