@import '../../utils/variables.scss';

.row-RESET-PASSWORD {
  .reset-password-message-container {
    height: 600px;
    border-radius: 0px;
    background: whitesmoke;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .red-asterick {
    color: red;
  }
  .col-RESET-PASSWORD {
    padding: 0%;
  }

  .message-header-content {
    width: auto;
    left: auto;
    top: 40px;
    border-radius: nullpx;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    /* identical to box height */
    color: black;
  }

  .message-header-content-1 {
    height: 33px;
    width: auto;
    left: auto;
    top: -40px;
    border-radius: nullpx;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    font-style: normal;
    /* identical to box height */
    color: black;
  }

  .outside-box {
    height: 900px;
    left: auto;
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background: #ffffff;
    position: relative;
    padding: 20px;
    border: 1px solid black;
  }

  .temporary-password {
    height: 67px;
    width: auto;
    left: auto;
    top: 280px;
    border-radius: 8px;
    position: relative;
  }
  .email {
    height: 67px;
    width: auto;
    left: auto;
    top: 250px;
    border-radius: 8px;
    position: relative;
  }
  .label2 {
    height: 20px;
    width: auto;
    left: auto;
    top: -260px;
    border-radius: nullpx;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 1;
    color: black;
  }

  .inlinebox-3 {
    height: 48px;
    width: 100%;
    left: auto;
    top: auto;
    max-width: 540px;
    border-radius: 10px;
    // borders-color: #0b0b0bd6;
    background: #f6f6f6;
    position: relative;
    padding: 20px;
    border: 1px solid black;
  }
  .password-toggle {
    position: absolute;
    top: 250%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .new-password {
    height: 83px;
    width: auto;
    left: auto;
    top: 210px;
    border-radius: 8px;
    position: relative;
  }
  .label {
    height: 20px;
    width: auto;
    left: auto;
    top: -160px;
    border-radius: 1px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 1;
    color: black;
  }

  .inlinebox {
    height: 48px;
    width: 100%;
    left: auto;
    top: auto;
    max-width: 540px;
    border-radius: 10px;
    // borders-color: #0b0b0bd6;
    background: #f6f6f6;
    position: relative;
    padding: 20px;
    border: 1px solid black;
  }
  .password-toggle1 {
    position: absolute;
    top: 250%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .confirm-password {
    height: 68px;
    width: auto;
    left: auto;
    top: 140px;
    border-radius: 8px;
    position: relative;
  }

  .label1 {
    height: 20px;
    width: auto;
    left: auto;
    top: -60px;
    border-radius: 1px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    mix-blend-mode: normal;
    opacity: 1;
    color: black;
  }

  .inlinebox-1 {
    height: 48px;
    width: 100%;
    left: auto;
    top: auto;
    max-width: 540px;
    border-radius: 10px;
    // borders-color: #0b0b0bd6;
    background: #f6f6f6;
    position: relative;
    padding: 20px;
    border: 1px solid black;
  }
  .password-toggle2 {
    position: absolute;
    top: 250%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .button-box {
    top: 115px;
    left: auto;
    // top: auto;
    height: 48px;
    width: auto;
    max-width: 540px;
    border-radius: 10px;
    background-color: #ff3c00;
    position: relative;
  }

  .submit-button {
    left: auto;
    top: auto;
    height: 48px;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-color: #ff3c00;
    border: 1px solid black;
  }

  // Media queries for responsiveness
  @media (max-width: 768px) {
    .reset-password-message-container {
      padding: 10px;
    }

    .outside-box {
      max-width: 100%;
    }

    .inlinebox {
      max-width: 100%;
    }
    .inlinebox-1 {
      max-width: 100%;
    }
    .inlinebox-3 {
      max-width: 100%;
    }

    .button-box {
      max-width: 100%;
      top: 100px;
    }

    .submit-button {
      max-width: 100%;
    }
  }

  @media (max-width: 575px) {
    .reset-password-message-container {
      padding: 10px;
    }

    .outside-box {
      width: 100%;
      max-width: 100%;
    }

    .inlinebox {
      width: 100%;
      max-width: 100%;
    }
    .inlinebox-1 {
      width: 100%;
      max-width: 100%;
    }
    .inlinebox-3 {
      width: 100%;
      max-width: 100%;
    }

    .button-box {
      width: 100%;
      max-width: 100%;
      top: 100px;
    }

    .submit-button {
      width: 100%;
      max-width: 100%;
    }
  }
}
