.NAVBAR .nav-link {
  cursor: pointer;
}

.navbar {
  padding: 0 !important;
}

.login-button,
.post-questions-button {
  border-radius: 8px !important;
  color: white !important;
  font-weight: 500 !important;
}

.donate-button {
  border: 1px solid #ff4020 !important;
  border-radius: 8px !important;
  color: #ff4020 !important;
  background-color: white !important;
  font-weight: 500 !important;
}

.login-button {
  border: 1px solid #ff4020 !important;
  background-color: #ff4020 !important;
}

.navbar-brand img {
  height: 80px;
  /* put value of image height as your need */
  float: left;
}

.navbarhover {
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.navbarhover:hover {
  text-decoration: underline !important;
}

.jjclink:hover,
.jjclink:active,
.jjclink:link,
.jjclink:visited {
  color: black;
  text-decoration: none;
}

.jjclink {
  margin: auto;
  padding-left: 1rem !important;
}

.activeLink {
  text-decoration: underline;
}
