@import '../utils/variables.scss';

.PROFILE.container {
  padding: 24px;

  .profile-image-container {
    .profile-image {
      height: 108px;
      width: 108px;
    }
  }

  .container,
  label {
    color: #2e66ba;
  }
  .form-control,
  .custom-select {
    margin-bottom: 16px;
  }

  .save-button {
    border: 1px solid $vividred;
    margin-top: 8px;
    width: 156px;
    background: #ff4020;
    color: white;
    border: none;
  }

  .reset-button {
    margin-top: 8px;
    width: 156px;
    background: #e5e9f2;
    margin-left: 8px;
    color: black;
    border: none;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .form-section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(99, 99, 97);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Set your desired background color */
  }

  .form-control {
    border: 1px solid #454444b0;
  }
  
}
