//font
$font: 'Noto Sans', sans-serif;

// colors
$white: white;
$black: black;
$charcoalBlack: #403F3F;
$green: #4CB576;
$whiteSmoke: #F6F6F6;
$grey: #7B889A;
$pageBackground: #E9EDF5;

// font sizes
$titleSize: 16px;
$regularSize: 14px;

// font-weight
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold: 900;
