.dropdownToggle {
    width: 200px;
    height: 40px;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #403F3F;
    background-color: white;
    opacity: 0.4;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:active, &:hover, &:focus {
        background-color: white !important;
        color: #403F3F !important;
        border: 1px solid #F6F6F6 !important;
        box-shadow: none;
    }
}

.dropdownMenu {
    width: 200px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #403F3F;
    background-color: white;
}

.dropdownItem {
    opacity: 0.4;
    padding-left: 12px;
    
    &:active, &:hover, &:focus {
        background-color: white !important;
        color: #403F3F !important;
        border: 1px solid #F6F6F6 !important;
        box-shadow: none;
    }
}
