@import "../../utils/variables.scss";
.footer-container{
  background: $darkBlue;
  color: $white;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.footer-link{
  color: $white
}

.footer-link:hover{
  color: $white
}

.social-media-icons > *{
  margin-right: 1rem;
  color: $white;
}

.copyright{
  font-size: x-small !important;
}

.copyright1{
  font-size: small;
  text-align: center;
  padding-bottom: 1rem;
}
