@import "../../utils/variables.scss";
.footer-container {
  background: $whiteSmoke;
  color: $black;
  border-top: 1px solid $pageBackground;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em;
}

.footer-link {
  color: $black;
}

.footer-link:hover {
  color: $black;
}

.social-media-icons > * {
  margin-right: 2rem;
  color: $black;
}

.social-media-icons {
  padding: 0.5rem;
  text-align: center;
}

.copyright {
  font-size: x-small !important;
}

.copyright1 {
  font-size: small;
  text-align: center;
  padding: 0.5rem;
}
