@import '../../utils/variables.scss';

.row.FORGOT-PASSWORD {
  .forgot-password-container {
    left: auto;
    top: auto;
    position: relative;
    height: 600px;
    width: auto;
    border-radius: 0px;
    background: whitesmoke;
    border-radius: 0px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forgot-password-header {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    color: black;
    margin-bottom: 20px;
    height: auto;
    width: auto;
    left: auto;
    top: 20px;
  }

  .forgot-password-content {
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    color: black;
    margin-bottom: 20px;
  }

  .outlinebox {
    height: auto;
    left: auto;
    top: auto;
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background: #ffffff;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
  }

  .label {
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    opacity: 0.9;
    margin-bottom: 20px;
  }

  .inlinebox {
    left: auto;
    top: auto;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background: #f6f6f6;
    position: relative;
  }

  .button-box {
    left: auto;
    top: auto;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background-color: #ff3c00;
    border: 1px solid #ff3e06;
    position: relative;
  }

  button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  .submit-button {
    left: auto;
    top: auto;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-color: #ff3c00;
    border: 1px solid #ff3e06;
  }

  // Media queries for responsiveness
  @media (max-width: 768px) {
    .forgot-password-container {
      height: 100%;
      padding: 10px;
    }

    .outlinebox {
      max-width: 100%;
    }
  }

  @media (max-width: 575px) {
    .forgot-password-container {
      padding: 10px;
    }

    .outlinebox {
      width: 100%;
      max-width: 100%;
    }
  }
}
