@import "../../utils/variables.scss";

.row.FORGOT-PASSWORD {
  .forgot-password-container {
    height: 600px;
    width: 100%;
    border-radius: 0px;
    background: linear-gradient(180deg, #0F2D58 0%, #2C5797 55.91%);
    border-radius: 0px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forgot-password-header {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .forgot-password-content {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .outlinebox {
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background: #FFFFFF;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.147044);
    padding: 20px;
    box-sizing: border-box;
  }

  .label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    position: relative;
    mix-blend-mode: normal;
    opacity: 0.9;
    margin-bottom: 20px;
  }

  .inlinebox {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background: #F6F6F6;
    position: relative;
  }

  .button-box {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background: #FF3E06;
    border: 1px solid #FF3E06;
    position: relative;
  }

  .submit-button {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
  }

  // Media queries for responsiveness
  @media (max-width: 768px) {
    .forgot-password-container {
      height: auto;
      padding: 10px;
    }

    .outlinebox {
        width: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 575px) {
    .forgot-password-container {
      padding: 10px;
    }

    .outlinebox {
      width: 100%;
      max-width: 100%;
    }
  }
}
