.ONBOARDING {
  .card-body {
    .profile-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
    .type-container {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      cursor: pointer;

      &.active {
        border: 1.5px solid #DC3B44;
      }
      .type-logo {
        height: 84px;
      }
    }
    .education-container {
      .type-logo {
        height: 180px;
        width: 238px;
      }
    }
    .profession-container {
      .type-logo {
        height: 180px;
        width: 238px;
      }
    }
  }
  .card-footer {
    .buttons {
      text-align: right;
      button {
        height: 48px;
        width: 144px;
        border-radius: 5px;
        cursor: pointer;
      }
      .back-button {
        color: #403F3F;
        background: transparent;
        border: 0;
        margin-right: 16px;
      }
      .submit-button {
        color: white;
        background: #DC3B44;
      }
    }
  }
  .note {
    color: red;
  }
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}