@import "../../../../utils/variables.scss";

.MISSIONVISION  {
    padding-bottom: 5px;
  }
  .mission-vision {
    border-color: $vividred;
    width: 6rem;
    margin-top: 0px;
  }

.vision-title {
  color: #ff4020;
}