@import "../../utils/variables.scss";

.navbar {
  border-bottom: 1px solid $pageBackground;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.vertical-line {
  border-left: 1px solid $lightGrey;
  height: $logoHeight;
}

.notification-number {
  top: -1em;
  left: -1em;
  font-size: smaller;
}

.user-dropdown {
  padding: 0.5em;
  margin-right: 3em;
  font-size: large !important;
}

.user-dropdown-icon {
  margin-right: 1em;
}
