@import "../../utils/variables.scss";

.side-navbar-custom {
  background-color: #1e2350;
  position: fixed;
  overflow: hidden;
  top: $logoHeight + 12;
}

.side-navbar-option {
  padding-right: 32;
}

.sidenav---highlighted---oUx9u {
  background-color: #383d77;
}

.copyright-admin-footer {
  text-align: right;
  font-size: small;
  padding-right: 1.5em;
  padding-bottom: 1em;
}
