@import '../../utils/variables.scss';

.pageHeader-dashboard {
  height: 72px;
  padding: 10px;
  background: $white;
  padding: 20px 30px 20px 30px;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  h4 {
    font-style: normal;
    font-weight: $bold;
    font-size: $titleSize;
    line-height: 22px;
    height: 100%;
    margin: 0px;
    vertical-align: middle;
  }
}
