@import '../../utils/variables.css'; /* Import the CSS file containing variables */

.inputContainer {
    width: 280px;
    height: 40px;

    & input {
        width: 100%;
        height: 100%;
        border: 1px solid var(--slateGrey); /* Use a custom property for border color */
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        
        &::placeholder {
            padding-left: 10px;
            color: var(--lightGrey); /* Use a custom property for placeholder text color */
        }

        &:focus {
            outline: none;
            border: 2px solid var(--slateGrey); /* Use a custom property for border color */
        }
    }
}
