@import '../../utils/variables.scss';

.inputContainer {
    width: 280px;
    height: 40px;

    & input {
        width: 100%;
        height: 100%;
        border: 1px solid $whiteSmoke;
        box-sizing: border-box;
        border-radius: 5px;
        &::placeholder {
            padding-left: 10px;
            color: $charcoalBlack;
            opacity: 0.4;
        }
    }
}