@import '../../../../utils/variables.scss';

.TRUSTEES {
  h5 {
    text-align: center;
    color: #2c5797;
  }
  p {
    text-align: center;
    color: #2c5797;
  }
  .trustees-card {
    border: 1px solid #2c5797;
    min-height: 360px;
  }
  .trustees {
    border-color: $vividred;
    width: 2rem;
    margin-top: 0px;
  }

  .card-img-top {
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .card-subtitle {
    font-size: 12px;
  }
}
