@import '../../utils/variables.scss';

.tableRow {
    padding: 5px 0px;
    color: $grey;
    border-top: none;
    height: 72px;

    td {
        border-top: 0.2px solid $lightGrey;
        vertical-align: middle;
    }
}

.tableRow:nth-last-child(1) td {
    border-bottom: 0.2px solid $lightGrey;
}

.react-bootstrap-table-pagination {
    padding: 0px 30px;
}

.my-modal {
    width: 50vw;
    max-width: 60vw;
}

.react-bootstrap-table-pagination-list {
    display: flex;
    flex-direction: row-reverse;
    .page-link {
        width: 9px;
        height: 19px;
        font-style: normal;
        font-weight: $semiBold;
        font-size: $regularSize;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.2);
        display: inline-block;
        border: none;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            box-shadow: none;
        }
    }
    .active .page-link {
        color: $charcoalBlack;
        background-color: transparent;
        border: none;
        font-weight: $semiBold;
        font-size: $regularSize;
        line-height: 19px;
    }

}

.sizePerPage {
    font-weight: $regular;
    font-size: $regularSize;
    line-height: 19px;
    color: $charcoalBlack;
    & input {
        margin: 0px 5px;
        padding: 0px 5px;
        background: $white;
        border: 1px solid $pageBackground;
        box-sizing: border-box;
        border-radius: 3px;
    }
}