@import '../../../../utils/variables.css';

.VOLUNTEERS {
  padding-bottom: 3em;

  .volunteers {
    border-color: var(--vividred);
    width: 2rem;
    margin-top: 0px;
  }
  h5 {
    text-align: center;
    color: #2c5797;
  }
  p {
    text-align: center;
    color: #2c5797;
  }
  .card-img-top {
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%; /* Make the image round */
  }
  .volunteer-card {
    border: 1px solid #2c5797;
  }
  .volunteer {
    border-color: var(--vividred);
    width: 2rem;
    margin-top: 0px;
  }
  .thank-you-banner {
    background-color: #2c5797;
    padding: 40px 0;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .banner-content {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
  }
  .volunteer-text {
    font-style: italic;
    color: #2c5797;
    p {
      color: black;
      font-weight: 800;
    }
  }
  .card-img,
  .card-img-bottom,
  .card-img-top {
    min-height: 260px;
  }
}
